

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header{
  border-bottom: 3px solid black;
}

div{
  margin: 5px;
  padding: 5px;
}

section{
  content: "";
  padding: 25px 50px;
  border: 3px solid black;
  margin: 4px;
  width: 30vw;
}

.review{
  background-color: #DBD3AD;
}

.rubric{
  background-color: #84732B;
}

.author-bio{
  background-color: #574F2A;
}
