*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#reviews{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.review-box{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 5px;
    margin: 5px;
    content: "";
    width: 30vw;
    border: 4px solid black;
}

.review-box, ul{

    padding: 15px;
    margin: 25px;
    border: 5px double black;
    list-style-type:  none;
}

.box{
    padding: 6px;
    margin: 6px;
    border: 3px solid black;
}

#rubric-ryan{
    display: none;
}

#new-review{

    display: none;
    padding: 25px;
    margin: 15px;
    border: 7px solid black;
    border-radius: 5%;
    box-shadow: 5px 5px 5px black;
}

input{
    margin: 4px;
}

#home{
    display: block;
}

#log-in{
    display: none;
}
